html, body, div, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, ul, li, fieldset, form, label, input, legend, table, caption, tbody, tfoot, thead, tr, th, td, textarea, article, aside, audio, canvas, figure, footer, header, mark, menu, nav, section, time, video { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal }
article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote { display: block; }
ul, ol { list-style: none; }
img { border: 0 none; vertical-align: top; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: none; }
table { border-collapse: collapse; border-spacing: 0; }
strong, em, i { font-style: normal; font-weight: normal; }
ins { text-decoration: underline; }
del { text-decoration: line-through; }
mark { background: none; }
input::-ms-clear { display: none !important; }
a { text-decoration: none; color: #fff; }
ul,ol,li{
	margin: 0;
	padding: 0;
}
/*大数据页面*/
#bigdata {
	width: 100%;
	background: #0C0026;
	color: #fff;
	overflow: hidden;
}
.container {
	padding: 0 1.5rem;
	overflow: hidden;
}
.header {
	height: 4.5rem;
}
.header-border-top {
	width: 100%;
	height:0.45rem;
	background: url(../images/top_border_top.png) no-repeat;
	background-size: 100% 100%;
}
.header-border-bottom {
	width: 100%;
	height:0.55rem;
	background: url(../images/top_border_bottom.png) no-repeat;
	background-size: 100% 100%;
}
.header .container {
	height: 3.5rem;
	line-height: 3.5rem;
}
.header .date {
	float:left;
	font-size: 1.2rem;
}

.header .header-title {
	width: 100%;
	background: linear-gradient(#2A5EC3, #06D8D5);
    -webkit-background-clip: text;
   	color: transparent;
   	font-size: 2.2rem;
   	font-weight: bold;
   	letter-spacing:0.416666rem;
   	text-align: center;
   	position: absolute;
   	z-index: 1;
}
.header .gohome {
	display: block;
	width: 2rem;
	height: 1.75rem;
	float: right;
	background: url(../images/gohome.png) no-repeat;
	background-size: 100% 100%;
	margin-top: 0.95rem;
	position: relative;
	z-index: 99;
}

#bigdata .section1 {
	width: 21.45rem;
	float: left;
}

.section-item-title h2 {
	font-size: 1.2rem;
}
.section-item-title p {
	font-size: 0.9rem;
}

.section-item-list {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.section-item-list li {
	height: 2rem;
	font-size: 0.8rem;
	position: relative;
}

.section-item-list li:nth-child(2n+1){
	background: rgba(19,12,68,1);
}
.section-item-list li span:first-child {
	display: inline-block;
	width: 2rem;
	height: 1.2rem;
	line-height: 1.2rem;
	text-align: center;
	background: #3C9DD2;
	border-radius: 0.1rem;
	color: #100635;
	position: absolute;
	top:.4rem;
	left: .5rem;
}
.section-item-list li span:nth-child(2) {
	display: inline-block;
	width: 13rem;
	overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    line-height: 2rem;
    margin-left: 3rem;
}


.section-item-list li span:last-child {
	display: inline-block;
	color: #3C9DD2;
	position: absolute;
	top:.4rem;
	right:.5rem;
}
.section3-list li span:last-child {
	top:0;
}
#barchart {
	width: 21.45rem;
	height: 12rem;
}


.section2 {
	width: 41.25rem;
	/*height: 39.05rem;*/
	margin: 0 2.5rem;
	float: left;
}
.section2-top-data {
	position: relative;
	z-index: 998;
}
.item-level {
	width: 13.75rem;
	float: left;
	position: relative;
}
.item-level:hover .item-level-two {
	display: block;
}
.item-level-one {
	text-align: center;
}
.item-level-one span {
	display: block;
}
.item-level-one span:first-child {
	font-size: 1.2rem;
	
}
.item-level-one span:last-child {
	display: block;
	width: 100%;
	font-size: 0.9rem;
	font-weight: bold;
	color: #50D6F1;
	text-align: center;
	height: 2rem;
	line-height: 2rem;
	vertical-align: bottom;
	position: relative;
}
.item-level-one span:last-child em {
	position: absolute;
	bottom: -1rem;
}
.item-level-one span:last-child ol li span{
	font-size: 2.3rem;
	color: #50D6F1;
}
ol {
	display: inline-block;
	text-align: center;
	margin: .5rem 0.2rem;
}
ol li {
	float:left;
	list-style: none;
	height:2rem;
    line-height: 2rem;
    display: inline-block;
    overflow: hidden;
    text-align: center;
}
ol li span {
	display: block;
	transform: translateY(0%);
}

ol li.active span {
    animation: move 1s;
    animation-fill-mode: forwards;
}
@keyframes move {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}


.item-level-two {
	position: absolute;
	top: 4rem;
	z-index: 999;
	display: none;
}

.item-level-two li {
	width: 13.75rem;
	height: 3rem;
	line-height: 3rem;
	padding: 0 1.05rem;
	background: #100635;
	clear: both;
	border-top: 1px solid #0c0026;
	overflow: hidden;
	cursor: pointer;
}
.item-level-two li:hover {
	background: #E58B26;
}
.item-level-two li:before,
.item-level-two li:after {
	height: 0,
	content: '';
	clear: both;
}

.item-level-two li span:first-child {
	display: inline-block;
	float: left;
	font-size: 0.9rem;
}
.item-level-two li span:last-child {
	display: inline-block;
	float: right;
	font-size: 0.9rem;
	color: #50D6F1;
	text-align: right;
}
.item-level-two li span:last-child b{
	
	font-size: 1.8rem;
	
}

.last li span:first-child {
	line-height: 1.5rem;
}

.section2-chart {
	position: relative;
}
#mapchart {
	width: 41.25rem;
	height: 26.45rem;
	position: absolute;
	top: 6rem;
}







.section3 {
	width: 24.35rem;
	float: right;
}
.section3-tab-btn {
	clear: both;
	height: 1.95rem;
	margin: .5rem 0;
}
.section3-tab-btn a{
	display: block;
	float: left;
	width:4.4rem;
	height: 1.95rem;
	line-height: 1.95rem;
	text-align: center;
	margin-right:0.5rem;
	background: #130c44;
	border-radius: 1rem;
	color:#7b768c;
	font-size: 0.8rem;
}
.section3-tab-btn a.active {
	background: #191762;
	color:#fff;
}
.section3-tab-btn a:last-child {
	margin-right: 0;
}
.section3-tab-content {
	clear: both;
}

.section3-list li span{
	width: 40%!important;
	text-align: center;
	background: none!important;
	color:#fff!important;
	transition: all .2s;
}

.section3-tab-content ul{
	display: none;
	transition: all .2s;
}
.section3-tab-content ul.active {
	display: block;
}




.footerchart {
	clear: both;
	overflow: hidden;
}    
.footer-left-item {
	float: left;
	width: 65rem;
	overflow: hidden;
}
.footer-right-item {
	width: 24.35rem; 
	float:right;
}

.piechart-wrap {
	width: 104rem;
	transition: all 0.5s;
}
.piechart {
	width: 13rem;
	height: 12rem;
	float: left;
	position: relative;
}
.piechart div {
	width:13rem;
	height:12rem;
}
.piechart p {
	width: 100%;
	height: 5rem;
	line-height: 5rem;
	text-align: center;
	position: absolute;
	z-index: 999;
	top: 20%;
	/*margin-top: -3rem;*/
	/*left: 3rem;*/
	font-size: 1rem;
}

.piechart:nth-child(4) p,
.piechart:nth-child(5) p {
	margin-top: 1rem;
	line-height:1.5rem;
}

#linechart{
	width: 24.35rem;
	height: 12rem;
}
